html, body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;  
  font-family: "Arimo";
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  perspective: 1000;  
  backface-visibility: hidden;
}
header {
  overflow: hidden;
}
.wow {
  visibility: hidden;
  overflow: hidden;
  transform: translateZ(0);
}
.load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 30;
  background-color: #212833;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot {
  margin: 30px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
}
.dot:nth-child(1) {
  animation-delay: .1s;
}
.dot:nth-child(2) {
  animation-delay: .2s;
}
.dot:nth-child(3) {
  animation-delay: .3s;
}
.home h1 {
  text-align: center;
  font-size: 3em;
  position: relative;
  top: 2.5em;
  color: white;
  padding-bottom: 20px;
  letter-spacing: .2em;
  text-shadow: 1px 1px 1px #9dbccd,
               2px 2px 1px #9dbccd,
               3px 3px 1px #9dbccd,
               4px 4px 1px #9dbccd,
               5px 5px 1px #9dbccd;
}
.home h1:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: scaleX(.3);
  border-bottom: 5px solid white;
  left: 0;  
  z-index: 1;
}
.home h3 {
  line-height: 1.6;
  padding: 2em;
  position: relative;
  top: 9.5em;
  color: white;
  font-size: 1.2em;
  text-align:center;
  letter-spacing: .4em;
  font-weight: 500;
}
.grid-container {
  display: grid;
  grid-template-rows: 0 minmax(100vh, 600px) minmax(100vh,auto) minmax(120vh,auto) minmax(100vh,auto);
  grid-template-columns: repeat(12, 1fr);
}
a:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;  
  border-bottom: .2em solid white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all .5s ease-in;  
}
a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.navi a {
  font-weight: 500;
  outline: none;
  font-size: .9em;
  letter-spacing: .4em;
  padding: 1em;
  color: white;
  z-index: 3;
  text-decoration: none;
}
.navi a:hover {
  color: #d9bdb1 !important;
}
.navi {
  text-align: right;
  width: 100%;
  top: 0;  
  transition: all .8s ease-in-out;
  overflow: hidden;
  position: absolute;
  line-height: 5;
  z-index: 9;  
}

.grid-container > div:nth-child(1) {
  background-size: 90em;
  background-position: center bottom;
  background-attachment: fixed;
  background-color: #8faba8;
  background-image: url("https://cdn.glitch.com/d7147c70-1634-45ce-a9a5-0a570816ac31%2Fpexels-photo-360912.jpeg?1542937339252");
  grid-row: 1 / 3;
  grid-column: 1/-1;
  max-width: 100%;
  overflow: hidden;    
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}
.but {
  cursor: pointer;
  top: 7em;
  position: relative;  
  margin: .6em;
  width: 50px;
  height: 50px;
  background: white;
  filter: grayscale(50%);
  border-radius: 10px;  
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
  box-shadow: 1px 1px 1px #9dbccd,
               2px 2px 1px #9dbccd,
               3px 3px 1px #9dbccd,
               4px 4px 1px #9dbccd,
               5px 5px 1px #9dbccd;
}
.but:before {
  content: '';
  position: absolute;
  width: 500px;
  height: 100%;
  filter: none;
  transform: rotate(20deg);
  background: rgba(242,182,214, .7);
}
.but:before:hover {
  transition: 1s ease-in-out;
}
.log {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container > div:nth-child(2)  {
  grid-row: 3 / 4;
  grid-column: 1/-1;  
  display: grid;  
  background-color: #d0dbdf;
  grid-template-columns: repeat(auto-fit, 2fr);
  grid-template-rows: auto;
  max-width: 100%;
  overflow: hidden;    
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}
.grid-container > div:nth-child(3)  {
  grid-row: 4 / 5;
  grid-column: 1/-1;
  max-width: 100%;
  overflow: hidden;  
  background-image: linear-gradient(#95b8cb, #f7f2ec);
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}
.containpro {  
  padding-top: 50px;
  display: grid;
  justify-content: center;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fill, 15em);
  padding-bottom: 50px;
}
.containpro > * {
  display: block;
  overflow: hidden;
  height: 15em;
  border-radius: 5px;
}
.project {
  padding-top: 20px;
  background: rgba(4,44,94,.6);
  transform: translateY(-270px);
  height: 100%;
  transition: all .8s;
}
.containpro>*:hover .project {
  transform: translateY(-20px)
}
.pro1 {
  z-index: -1;
  transform: translateY(-260px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://media.giphy.com/media/cBKMTJGAE8y2Y/200w_d.gif");
  filter: grayscale(50%);
  height: 100%;
}
.pro2 {
  z-index: -1;
  filter: grayscale(50%);
  transform: translateY(-260px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/261706/pexels-photo-261706.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100%;
}
.pro3 {
  z-index: -1;
  filter: grayscale(50%);
  transform: translateY(-260px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/241544/pexels-photo-241544.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100%;
}
.pro4 {
  z-index: -1;
  filter: grayscale(50%);
  transform: translateY(-260px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100%;
}
.pro5 {
  z-index: -1;
  filter: grayscale(50%);
  transform: translateY(-260px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/162500/measurement-millimeter-centimeter-meter-162500.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100%;
}
.pro6 {
  z-index: -1;
  filter: grayscale(50%);
  transform: translateY(-260px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.pexels.com/photos/9051/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 100%;
}
.live {  
  align-items: center;
  top: 50%;
  left: 20px;
  padding: 20px;
  color: white;
  border: 5px solid #269cb5;
  margin: auto;
  position: relative;
  outline: none;
  z-index: 3;
  background-color: #269cb5;
}
.text p {
  width: auto;
  color: #00000f;
  line-height: 1.5;
  height: autofill;
  margin: 0 auto;
  letter-spacing: 3px;
  padding: 30px;
  font-weight: 500;
  text-align: center;
  font-size: 15px;
}
h4 {
  text-decoration: underline overline;
  width: auto;
  color: #00000f;
  line-height: 1.5;
  margin: 0 auto;
  letter-spacing: 3px;
  padding-top: 30px;
  font-weight: 500;
  text-align: center;
  font-size: 15px;
}
.title {
  color: white !important
}
h3 {
  z-index: 3;
  position: relative;
  text-align: center;
  color: white;
}
.grid-container > div:nth-child(4)  {
  grid-row: 5 / 6;
  grid-column: 1/-1;
  background-color: #224a54;
  display: grid;
  grid-template-rows: repeat(12, 50px);
  grid-template-columns: repeat(11, 1fr);
  max-width: 100%;
  overflow: hidden;
}
input, textarea  {
  font: 1em "arimo";
  border: none;
  width: 30%;
  margin: .3em;
  vertical-align: middle;
  resize: none;
  font-weight: 100;
}
input[type=submit] {
  height: 2em;
  width: 5em;
  width: 30%;
  margin-top: 10px;
  background-color: white;
  outline: none;
  transition: all ease-out .3s;
}
input[type=submit]:hover {
  transition: all ease-in .3s;
  background-color: #224a54;
  color: white;
  cursor: pointer;
}
form {
  grid-row: 4;  
  letter-spacing: .3em;
  color: white;
  padding : 0 10px;
  margin  : 0;
  text-align: center;
  grid-column: 1/-1;
}

footer {
 color: white;
 margin: 0;
 grid-row: 12/-1;
 text-align: center;
 grid-column: 1 / -1;
}

.text {
  padding-top: 50px;
  display: grid;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  font-size: 16px;
  align-items: center;
  justify-self: center;
  overflow: auto;
  align-content: space-between;
  grid-template-columns: repeat(2,1fr);
  z-index: 2;
}
.text section{
  background-color: #dcdde1;
  height: 100%;  
  width: auto;
  position: relative;
}
.text img {
  width: 100%;
  filter: grayscale(.7);
  transform: scale(1.1);
  transition: .5s;
}
.text img:hover {
  //filter: none;
  //transform: scale(1.2);
}

.text ul{
  background-color: #224a54;
  color: white;
  height: 100%;
  width: 100%;
  display: inline-block;
  text-align: center;
  list-style: none;
  padding-left: 0;
  font-weight: 500;
  font-size: 15px;
  list-style-type: none;
  line-height: 1.5;
  letter-spacing: 8px;
}
.text section:nth-child(4) {
  
}
.text section:nth-child(4) img {
  display: inline-block;
  margin: auto;
}
.flex {  
  margin-left: 5%;
  margin-right: 5%;
  -webkit-display: flex; 
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  position: relative;
  justify-content: center;
  overflow: hidden;  
  background-color: #dcdde1;
  z-index: 1;
  margin-bottom: 100px;
}
.flex img {
  margin: 10px;
  filter: grayscale(.5);
  padding: 2em;
  height: 5em;
  width: 5em;    
  overflow: hidden;
  transition: .5s;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}
h2 {  
  color: #0f000f;
  font-weight: 100;
  grid-column: 1 / -1;
  position: relative;
  top: 1.5em;
  padding-bottom: 1em;
  text-align: center;
  font-size: 2.4em;
  height: 20px;
  letter-spacing: .2em;
}
h2:before {
  content: "";
  position: absolute;
  width: 3em;
  top: 80%;
  right: 50%;
  transform: translateX(50%);
  border-bottom: 4px solid #ffffff; 
}

.projects p {  
  color: white;
  z-index: 3;
  text-align: center;
  font-size: 15px;
}
.contact h2 {
  color: white !important;
}
@media only screen and (max-width: 800px){
  .flex img {
    padding: 1em;
    height: 3em;
    width: 3em;
  }
  .grid-container {
    grid-template-rows: 0 minmax(40em,auto) minmax(50vh,auto) minmax(50vh,auto) minmax(50vh,auto);
  }
  
  .home h1 {
    font-size: 2em;
    top: 3em;
  }
  .home h3 {
    font-size: 1em;
    top: 7em;
  }
  h2 {
    font-size: 1.5em;
  }
  .text p {
    font-size: 15px;
  }
  .text ul {
    font-size: 15px;
  }
  .navi {
    top: 0;
    margin: 0 auto;
    font-size: .7em;
    float: left;
    clear: left;
    text-align: center;
    line-height: 2.5;
  }
  .flex img {
    height: 3em;
    width: 3em;
  }
  .containpro > * {
    height: 15em;
  }
  input, textarea  {
    width: 70%;  
  }
  .text section {
    grid-row: auto;
    grid-column: 1 / 3;
    height: 100%;
    width: 100%;
    margin: auto;
  }
  .first {
    width: 200% !important;
  }
}
